body {
  background-image: url("/NailScheduleBooking/images/bg.jpg");
  font-family: Arial, sans-serif;
}

h1 {
  color: #d0f37e;
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
a {
  color: #d0f37e;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}
a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
p {
  text-align: center;
  font-size: 1.2em;
  color: #333;
}
